__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.log
staticfiles/
media/
*.coverage
*.cover
.hypothesis/
.pytest_cache/
.idea/
.vscode/
*.swp
*.egg-info/
.eggs/
dist/
build/
.DS_Store
db.sqlite3
.pylintrc
.flake8
.env